body {
	margin: 0px;
	padding: 0;
}

#gf_center .selector li {
	float: left;
	margin: 10px 10px 10px 0;
	list-style: none;
}

#gf_center .selector li h3 {
	background: #BFBFBF;
	border-left: 2px solid #808080;
	border-right: 2px solid #808080;
	border-top: 2px solid #808080;
	padding: 2px 0 2px 0;
	text-align: center;
}

#gf_center .selector li div {
	background: #F2FFF2;
	border: 2px solid #808080;
}

#gf_center .selector li p {
	padding: 5px 8px 5px;
}

#gf_center .selector li p .data {
	width: 125px;
}

#gf_left {
	vertical-align: top;
}

#gv_main {
	margin: 5px;
}

#gv_main .gv_nodes {
	text-align: center;
}

#gv_main td {
	border-top: 1px;
	padding: 5px;
	vertical-align: top;
}

.gv_nodelist {
	display: none;
}

label {
	font-weight: bold;
}

#nf_main {
	margin: 5px;
	padding: 0;
}

#nf_main #expression {
	height: 85%;
	width: 98%;
}

#quicknav {
	margin: 10px 10px 10px 10px;
}
